body {
    background-color: #79b4c1;
}
h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  color: #434f5b;
  text-align: center;
}
button {
  font-family: "Montserrat",sans-serif;
  border-radius: 6px;
  background-color: #a6d6d0;
  color: #1c1354;
  border: none;
  text-align: center;
}
