body {
    background-color: #79b4c1;
}
h2 {
  font: 200 50px/1.2 'Great Vibes', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #434f5b;
}
button {
  font-family: "Montserrat",sans-serif;
  border-radius: 6px;
  background-color: #a6d6d0;
  color: #1c1354;
  border: none;
}
